@import '../../styles/colors.less';
.metamask-icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(/assets/metamask.svg);
}

.app-left {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.app-right {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

#desktop-navbar {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  @media (max-width: @screen-sm-min) {
    display: none;
  }
}
.app-center {
  width: 60%;
  display: block;
  margin: 0px auto;
  margin-top: 50px !important;
}
.app-center h1 {
  color: #fff;
  text-shadow: 5px 5px 1px #000;
  font-family: Duck;
  font-size: 6rem;
  margin: 0px;
  -webkit-text-stroke-color: #000;
  line-height: 1;
  -webkit-text-stroke-width: 1px;
}
.walletwrap {
  background: rgb(255 255 255 / 53%);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(12.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: auto;
  display: block;
  margin: 20px auto;
  padding: 10px;
}
section.ant-layout {
  width: 100%;
  margin: auto;
  position: relative;

  #width-layout {
    max-width: 1440px;
  }
}

section#main-layout.ant-layout {
  min-height: 100vh;

  span#static-header-gradient {
    display: none;
    position: absolute;
    height: 300px;
    width: 100%;
    left: 0;
    background: linear-gradient(
      0,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  span#static-end-gradient {
    display: none;
    position: absolute;
    height: 300px;
    width: 100%;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  #bg-gradient {
    position: absolute;
    height: 200px;
    width: 100%;
    left: 0;
    top: 510px;
    background: linear-gradient(
      180deg,
      rgba(18, 18, 18, 0) 0%,
      @black-100 100%
    );
    display: none;
  }

  span#main-bg {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 708px;
    background: linear-gradient(
      180deg,
      rgba(18, 18, 18, 0) 0%,
      @black-100 100%
    );
    background-position: top left !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    filter: blur(220px);
    clip-path: inset(0 0 0 0);
  }
}

.ant-tabs-mobile {
  @media (max-width: @screen-sm-min) {
    padding: 20px;
  }
}
